@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}

html , body{
  min-height: 100svh;
}
::-webkit-scrollbar{
  display: none;
}
html::-webkit-scrollbar, 
body::-webkit-scrollbar {
  display: none;
}